<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Weather App</title>
</head>
<body>
    <div class="container">
        <img src="{{url_for('static', filename='images/weather_app_logo.png')}}">
        <h2>Bienvenue sur Weather App !</h2>
        <h4>Saisissez dans la barre de recherche le nom d'une ville de votre choix :</h4>
        <div class="search-box">
            <form action="{{ url_for('search')}}" method="POST" id="questionForm" class="form container-fluid">
                <i class="fa-solid fa-location-dot"></i>
                <input type="text" id="city_name" name="city_name" placeholder="Nom d'une ville..." size="100" maxlength="1000" class="col-sm-12 col-md-12 col-lg-12 mt-3 text-center"> 
                <button class="fa-solid fa-magnifying-glass" type="submit"></button>
            </form>

        </div>
        {% if response %}
        <div class="weather-box">
            <img src="{{response.weather_icon}}" alt="{{response.weather_icon}}">
            <p class="temperature">{{response.temperature}}°C</p>
            <p class="description">{{response.description.capitalize()}}</p>
            <p class="city_name">{{response.city_name}}</p>
            <img class="flag" src="https://flagsapi.com/{{response.country}}/flat/64.png">
            <p class="country">{{response.country}}</p>
        </div>
        
        <div class="weather-details">
            <div class="humidity">
                <i class="fa-solid fa-water"></i>
                <div class="text">
                    <span>{{response.humidity}} %</span>
                    <p>Humidité</p>
                </div>
            </div>
            <div class="wind">
                <i class="fa-solid fa-wind"></i>
                <div class="text">
                    <span>{{response.wind_speed}} km/h</span>
                    <p>Vent</p>
                </div>
            </div>
        </div>
        {% elif error_message %}
        <div class="not-found">
            <img src="{{url_for('static', filename='images/404.jpg')}}">
            <p>{{ error_message }}</p>
        </div>
        {% elif empty_message %}
        <div class="not-found">
            <img src="{{url_for('static', filename='images/404.jpg')}}">
            <p>{{ empty_message }}</p>
        </div>
        {% endif %}
    </div>

    <script src="https://kit.fontawesome.com/1cfeef19c9.js" crossorigin="anonymous"></script>    
</body>
</html>